.h1 {
  @include h1;
  margin: 40px auto;
  margin-bottom: 0px;
}

.gallery {
  column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 15vw);
  margin: 0 20px;
  margin-top: 15px;
  row-gap: 15px;
  &:first-of-type {
    margin-top: 40px;
  }
}

.gallery__img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%; 
}

.gallery__item1 {
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 1;
}

.gallery__item2 {
  grid-column-end: 5;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-row-start: 1;
}

.gallery__item3 {
  grid-column-end: 9;
  grid-column-start: 5;
  grid-row-end: 6;
  grid-row-start: 1;
}

.gallery__item4 {
  grid-column-end: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-row-start: 3;
}

.gallery__item5 {
  grid-column-end: 5;
  grid-column-start: 1;
  grid-row-end: 9;
  grid-row-start: 6;
}

.gallery__item6 {
  grid-column-end: 9;
  grid-column-start: 5;
  grid-row-end: 9;
  grid-row-start: 6;
}