.mainNav {
  background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(0,28,120,1) 100%);
  grid-template-areas: 'left right';
  padding: 20px;
  width: 100%;
  @include bp-xs {
    display: grid;
  }
}

.homeLink {
  display: grid;
  grid-area: left;
  grid-template-areas: 'col1 col2';
  grid-template-columns: min-content 1fr;

  .logo {
    fill: $sky-dark;
    grid-area: col1;
    height: 55px;
  }

  span {
    color: $sky-dark;
    font-size: 18px;
    font-weight: bold;
    grid-area: col2;
    padding-left: 5px;
    &:last-of-type {
      font-weight: inherit;
      padding-top: 20px;
    }
  }
}

.navMenu {
  background: inherit;
  column-gap: 20px;
  display: grid;
  grid-area: right;
  grid-template-columns: auto;
  justify-self: end;
  left: 0px;
  position: absolute;
  top: 95px;
  z-index: 3;
  @include bp-xs {
    background: transparent;
    grid-template-columns: auto auto auto auto auto;
    left: inherit;
    padding-top: 20px;
    position: unset;
    top: inherit;
    z-index: inherit;
  }

  .linkItems {
    color: $sky-dark;
    display: none;
    font-size: 18px;
    left: 0;
    padding-bottom: 24px;
    padding-left: 25px;
    padding-top: 5px;
    width: 100vw;
    z-index: 1;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        top: #{($i) * 50}px;
        @include bp-xs {
          top: 0;
        }
      }
    }
    @include bp-xs {
      display: block;
      margin-top: 0px;
      margin-top: -5px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-top: 0px;
      width: inherit;
      z-index: inherit;
    }
    &:hover {
      color: $sky-light;
    }
  }

}

// MOBILENAV SPECIFIC \\

.hamburger {
  border: 4px solid $sky-dark;
  border-width: 4px 0;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 25px;
  top: 35px;
  width: 30px;

  @include bp-xs {
    display: none;
  }

  &:before {
    background: $sky-dark;
    content: '';
    display: block;
    height: 4px;
    margin-top: 4px;
    width: 30px;
  }
}

.clickedHam {
  border-top-color: transparent;
  transform: rotate(45deg) translate(-2px, -1px);
  transition: transform 500ms ease-in-out;

  &:before {
    transform: translateY(8px) rotate(-90deg);
    transition: transform 500ms ease-in-out;
  }
}

.mobileShowLinks {
  display: block !important;
}
