.h1 {
  @include h1;
  margin-top: 1em;
}

.peacocking {
  display: grid;
  grid-template-areas: 'img1' 'img2' 'img3' 'img4';
  grid-template-columns: auto;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1250px;
  @include bp-sm {
    grid-template-areas: 'img1 img2' 'img3 img4';
    grid-template-columns: 1fr 1fr;
  }
}

.peacocking__item {
  background: linear-gradient(157deg, $orange-light 0%, $lime-light 100%);
  border: 1px solid $sky-night;
  border-radius: 7px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 80%;
  @include card-shadow;
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      grid-area: img#{($i)};
    }
  }
  p {
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }
}

@for $i from 1 through 4 {
  .peacocking__img#{$i} {
    display: block; 
    height: 375px;
    object-fit: cover;
    width: 100%;
  }
  .peacocking__text#{$i} {
    font-size: 18px;
    padding: 10px;
  }
}
