.privacy {
  margin: auto;
  max-width: 600px;
  padding: 0 15px;

  h1 {
    @include h1;
    margin-top: 40px;
  }

  h2 {
    font-size: 24px;
    margin-top: 1em;
  }
  
  p {
    margin-top: 1em;
    a {
      font-size: 16px;
      text-decoration: underline;
    }
  }
  
  ul {
    margin-top: 1em;
    padding-left: 20px;
  }

}