.h1 {
  @include h1;
  margin: 40px auto;
  margin-bottom: 0px;
}

.groupContainer {
  display: grid;
  grid-template-areas: 'media' 'shirts';
  grid-template-columns: auto;
  margin-top: 25px;
  @include bp-sm {
    grid-template-areas: 
      'media shirts';
    grid-template-columns: 1fr 1fr;
  }
  .groupHeroImg {
    border: 1px solid $sky-night;
    border-radius: 7px;
    grid-area: media;
    height: 325px;
    justify-self: end;
    margin: auto;
    margin-bottom: 15px;
    @include card-shadow;
    @include bp-sm {
      height: 400px;
      margin: inherit;
      margin-right: 25px;
    }
  }
}

.groupDisplay {
  grid-area: text;
  margin: 35px auto;
  max-width: 400px;
  text-align: center;
  width: 90%;
  @include bp-sm {
    justify-self: end;
    margin: auto 0;
    width: unset;
  }
  p {
    color: $sky-night;
    font-size: 18px;
    margin: auto;
    max-width: 300px;
    @include bp-sm {
      margin: inherit;
    }
  }
  h4 {
    color: $sky-night;
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
  }
  ul {
    display: block;
    font-size: 18px;
    margin: auto;
    padding-left: 25px;
    width: 225px;
    @include bp-sm {
      margin: inherit;
    }
  }
  li {
    color: $sky-night;
    text-align: left;
  }
}

.groupFormGrid {
  display: grid;
  grid-template-areas: 'text' 'form';
  grid-template-columns: auto;
  margin-top: 25px;
  @include bp-sm {
    grid-template-areas: 
      'text form';
    grid-template-columns: 1fr 1fr;
  }
}

.groupText {
  grid-area: shirts;
  margin: auto 0;
  padding: 5px;
  @include bp-sm {
    max-width: 450px;
    padding-left: 15px;
  }
  p {
    color: $sky-night;
    font-size: 18px;
  }
  h4 {
    color: $sky-night;
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
  }
}

.groupForm {
  background: linear-gradient(157deg, $orange-light 0%, $lime-light 100%);
  border: 1px solid $sky-night;
  border-radius: 7px;
  grid-area: form;
  margin: auto;
  margin-top: 25px;
  max-width: 400px;
  padding-bottom: 20px;
  width: 90%;
  @include card-shadow;
  @include bp-sm {
    margin: auto 15px;
    width: 100%;
  }
  h4 {
    color: $sky-night;
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
    text-align: center;
    text-decoration: underline;
  }
  input {
    border-bottom: 3px solid $sky-night;
    display: block;
    height: 38px;
    margin: auto;
    margin-top: 2em;
    padding: 5px;
    width: 200px;
    &:last-of-type {
      border-bottom: unset;
    }
  }
  .button {
    border-radius: 17px;
    display: block;
    margin: 1.5em auto;
    text-align: center;
    width: 150px;
  }
  p {
    font-size: 16px;
    text-align: center;
  }
  span {
    color: $sky-night;
    cursor: pointer;
    text-shadow: 1px 1px $green-light;
    &:hover {
      color: $sky-dark;
    }
  }
}

.groupStatus {
  margin: 15px auto;
  max-width: 600px;
  padding: 15px;
  .groupIntro, .groupToDo {
    color: $sky-night;
    font-size: 18px;
    b {
      color: $sky-night;
      font-weight: bold;
    }
  }
  .groupIntro {
    text-align: center;
  }
  .groupToDo {
    margin: auto;
    width: 265px;
  }
  h3 {
    color: $sky-night;
    font-size: 20px;
    font-weight: bold;
    margin: 25px auto;
    text-align: center;
    text-decoration: underline;
    &::first-letter{
      text-transform: capitalize;
    }
  }
  .ctaContainer {
    margin-top: 25px;
    text-align: center;
  }
  .groupCTA {
    display: block;
    display: inline-block;
    margin: 10px auto;
    width: 150px;
    @include bp-sm {
      display: inline-block;
      margin: unset;
    }
  }
}

.error {
  color: $orange-dark;
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  text-shadow: 0px 1px 1px red;
}
