.cart {
  margin: auto;
  width: 90%;
  h2 {
    color: $sky-night;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 2px 2px $green-light;
  }
}

.emptyCart {
  color: $sky-night;
  margin-top: 50px;
  text-align: center;
  p {
    color: $sky-night;
    font-size: 18px;
  }
  img {
    cursor: pointer; 
    height: 95px;
    margin: 20px;
    margin-bottom: 25px;
  }
  .orderSuccess {
    h1 {
      color: $sky-night;
      font-size: 24px;
      margin-bottom: 15px;
      text-decoration: underline;
    }
    p {
      margin-bottom: 7px;
      &:last-of-type {
        font-weight: bold;
        margin-top: 15px;
      }
    }
  }
}

#swatch {
  clip-path: circle(50px at center);
  height: 100px;
  margin-top: 10px;
  width: 100px;
}

.shiptax {
  margin: auto;
  margin-top: 20px;
  max-width: 350px;
  text-align: center;
  &:first-letter {
    text-transform: capitalize;
  }
  p {
    color: $sky-night;
    display: inline;
    font-weight: bold;
    &:last-of-type {
      padding-left: 15px;
    }
  }
}

.price {
  background: $green-light;
  border: 1px solid $green-dark;
  border-radius: 50%;
  bottom: -10px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 70px;
  line-height: 45px;
  padding: 12.5px 0;
  position: absolute;
  right: -30px; 
  transition: left linear 1s;
  width: 70px;
}

#confirmOrder {
  background: $green-light;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  margin: 40px auto;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 250px;
  &:hover {
    background: $green-dark;
  }
}

.error {
  color: #f94a4a;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 1px 2px red;
}

.success {
  font-size: 20px !important;
  padding: 5px 15px;
  text-align: center;
  &:last-child {
    padding-bottom: 15px !important;
  }
}

.continue {
  cursor: pointer;
  font-weight: bold;
}

.groupForm {
  background: linear-gradient(157deg, $orange-light 0%, $lime-light 100%);
  border: 1px solid $sky-night;
  border-radius: 7px;
  grid-area: form;
  margin: auto;
  margin-top: 25px;
  max-width: 400px;
  padding-bottom: 20px;
  width: 100%;
  @include card-shadow;
  h4 {
    color: $sky-night;
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
    text-align: center;
    text-decoration: underline;
  }
  input {
    border-bottom: 3px solid $sky-night;
    display: block;
    height: 38px;
    margin: auto;
    margin-top: 2em;
    padding: 5px;
    width: 200px;
    &:last-of-type {
      border-bottom: unset;
    }
  }
  .button {
    border-radius: 17px;
    display: block;
    margin: 1.5em auto;
    text-align: center;
    width: 150px;
  }
  p {
    font-size: 16px;
    text-align: center;
  }
  span {
    color: $sky-night;
    cursor: pointer;
    text-shadow: 1px 1px $green-light;
    &:hover {
      color: $sky-dark;
    }
  }
}

.ctaContainer {
  margin-top: 25px;
  text-align: center;
}

.groupCTA {
  display: block;
  display: inline-block;
  margin: 10px auto;
  width: 150px;
  @include bp-sm {
    display: inline-block;
    margin: unset;
  }
}
  