.h1 {
  @include h1;
  margin-top: 40px;
}

.orderForm {
  margin: auto;
  max-width: 450px;
  padding: 0 15px;

  h2 {
    color: $sky-night;
    font-size: 24px;
    margin-top: 1em;
  }
  
  p {
    color: $sky-night;
    margin-top: 1em;
  }
  
  ul {
    margin-top: 1em;
    padding-left: 20px;
  }

  input {
    border-bottom: 3px solid $sky-night;
    display: block;
    height: 38px;
    margin: auto;
    margin-top: 2em;
    padding: 5px;
    width: 200px;
  }
  .button {
    border-radius: 17px;
    display: block;
    margin: auto;
    margin-top: 1.5em;
    text-align: center;
    width: 150px;
  }
}

.orderStatus {
  margin: 15px auto;
  margin-top: 3em;
  max-width: 600px;
  padding: 15px;

  h1 {
    color: $sky-night;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    color: $sky-night;
    font-size: 18px;
    margin: 25px 0;
    text-align: center;
  }
  h3 {
    color: $sky-night;
    font-size: 14px;
    padding: 5px;
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
  h4 {
    color: $sky-night;
    font-size: 16px;
    margin: 15px 0;
    margin-bottom: 0;
    text-align: center;
  }
}
