.coupons {
  border: 1px solid #00000033;
  border-radius: 10px;
  border-spacing: 0;
  margin: 15px auto;
  margin-top: 150px;
  max-width: 1200px;
  padding-bottom: 25px;
  h1 {
    background: linear-gradient(117deg, #49f999 0%, #0383a0 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    margin-bottom: 25px;
    padding: 15px 0;
    text-align: center;
  }
  .table {
    border-collapse: collapse;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    max-width: 1150px;
    padding: 15px;
    text-align: center;
    width: 90%;
    thead {
      background: linear-gradient(117deg, $orange-light 0%, $lime-light 100%);
    }
    th {
      font-weight: bold;
      padding: 5px 0px;
      padding: 10px;
      width: 3.57%;
    }
    tbody {
      tr:nth-child(2n) { 
        background: #0000000d;
      }
    }
    td {
      height: 50px;
    }
  }
}

.couponForm {
  display: block;
  margin: 0 auto;
  width: 50%;
  .discountSelect {
    display: flex;
    margin: 10px auto;
    width: 160px;
    select {
      margin-left: 10px;
      width: 85px;
    }
  }
  input {
    border-bottom: 2px solid black;
    border-width: 0 0 3px;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    outline: 0;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
  }
}

.addCouponButton {
  margin: 15px auto;
  text-align: center;
  width: 200px;
}

.actionButton {
  background: #f94949;
  color: white;
  margin: 10px auto;
  text-align: center;
  width: 150px;
}

.success {
  color: #009688;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 1px 5px greenyellow;
}

.error {
  color: #f44336;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 1px 1px red;
}
