.headerContainer {
  border-bottom: 1px solid $sky-night;
  position: relative;
  text-align: center;
  @include card-shadow;
  &:before {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .banner {
    background-position-x: center;
    background-size: cover;
    height: 100vh;
  }
}

.bannerText {
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  @include bp-xs {
    top: 40%;
  }
  .subtitle {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px $sky-night;
    @include bp-xs {
      font-size: 36px; 
    }
    @include bp-md {
      font-size: 44px; 
    }
  }

  p {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 22px;
    text-shadow: 2px 2px $sky-night;
    @include bp-xs {
      font-size: 36px;
    }
    @include bp-md {
      font-size: 44px; 
    }
  }
}

.shopButton {
  border-radius: 17px;
  font-size: 16px;
  @include bp-xxs {
    font-size: 20px;
    padding: 7px 25px;
  }
}

.stageContainer {
  display: grid;
  grid-template-areas:
    'one'
    'two'
    'three';
  grid-template-columns: 1fr;
  margin: 25px 0;
  padding: 20px;
  row-gap: 45px;
  @include bp-md {
    column-gap: 50px;
    grid-template-areas: 'one two three';
    grid-template-columns: 1fr 1fr 1fr;
  }
  & > div {
    justify-self: center;
  }
  & > div:nth-child(1) {
    grid-area: one;
  }
  & > div:nth-child(2) {
    grid-area: two;
  }
  & > div:nth-child(3) {
    grid-area: three;
  }
  h3 {
    color: $sky-night;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
  }
  img {
    max-height: 200px;
    @include bp-sm {
      max-height: 275px;
    }
  }
}

.buildContainer {
  display: grid;
  grid-template-areas: 'media' 'shirts';
  grid-template-columns: auto;
  @include bp-sm {
    grid-template-areas: 
      'media shirts';
    grid-template-columns: 1fr 1fr;
  }
  .buildHeroImg {
    border: 1px solid $sky-night;
    border-radius: 7px;
    grid-area: media;
    height: 325px;
    justify-self: end;
    margin: auto;
    margin-bottom: 15px;
    @include card-shadow;
    @include bp-sm {
      height: 400px;
      margin: inherit;
      margin-right: 35px;
    }
  }
}

.shirtDisplay {
  grid-area: shirts;
  margin: auto 0;
  text-align: center;
  @include bp-sm {
    margin-left: 35px;
    text-align: inherit;
  }
  p {
    color: $sky-night;
    font-size: 18px;
    margin: auto;
    max-width: 300px;
    @include bp-sm {
      margin: unset;
      max-width: 485px;
    }
  }
}

.shirtGrid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  @include bp-sm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: inherit;
  }
}

.shirt {
  display: block;
  margin: 0px auto;
  position: relative;
  width: 90px;
  @include bp-xxs {
    @include card-shadow;
    border: 1px solid $sky-night;
    border-radius: 7px;
    margin: 5px auto;
    width: 125px;
  }
  @include bp-sm {
    display: inline-block;
    margin: 5px 10px;
    width: inherit;
    &:hover {
      background: $lime-light;
    }
  }
  a {
    margin-top: 0px !important;
    width: 90px !important;
    @include bp-xxs {
      margin-top: inherit;
      width: 125px !important;
    }
    @include bp-sm {
      width: 180px !important;
    }
  }
  img {
    cursor: pointer;
    height: 90px;
    @include bp-xxs {
      height: 125px;
    }
    @include bp-sm {
      height: 150px;
    }
  }
  p {
    color: $sky-night;
    font-size: 16px;
    padding-bottom: 7px;
    text-align: center;
    @include bp-sm {
      font-size: 18px;
    }
  }
}

.featured {
  text-align: center;
  h1 {
    color: $sky-night;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 50px;
    text-shadow: 2px 2px $green-light;
    text-transform: uppercase;
  }
  p {
    color: $sky-night;
    font-size: 18px;
  }
}

.catBannerContainer {
  display: inline-block;
  max-height: 50vh;
}

.catBanner {
  background-size: cover;
  border: 1px solid $sky-night;
  display: inline-block;
  height: 60vh;
  margin-top: 75px;
  position: relative;
  width: 50%;
  @include bp-xlg {
    background-position-y: -175px;
  }
  &:before {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.catText {
  margin: auto;
  padding-left: 10px;
  position: absolute;
  top: 30%;
  width: 100%;
  @include bp-sm {
    padding-left: 25px;
    top: 25px;
  }
  h4 {
    color: $lime-light;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 2px 2px black;
    @include bp-sm {
      font-size: 26px;
    }
  }
  p {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 200px;
    text-shadow: 2px 2px black;
    width: 90%;
    @include bp-sm {
      font-size: 18px;
      margin-bottom: 25px;
      max-width: 300px;
    }
  }
}

.swatchDisplay {
  background: linear-gradient(157deg, $orange-light 0%, $lime-light 100%);
  border: 1px solid $sky-night;
  margin-top: -3px;
  padding: 2em;
  @include bp-sm {
    border-radius: 0 0 50% 50%;
  }
  .swatchDisplayContainer {
    margin: auto;
    max-width: 650px;
  }
  .swatchText {
    margin-bottom: 2em;
    h2 {
      color: $sky-night;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 15px;
      text-shadow: 2px 2px $green-light;
    }
    p {
      color: $sky-night;
      font-size: 18px;
      margin: auto;
      max-width: 500px;
    }
  }

  .swatchSection {
    text-align: center;
  }

  #swatchDiv {
    display: inline-block;
    margin: 0 10px;
  }

  #swatch {
    height: 100px;
    width: 100px;
  }

  a {
    display: block;    
    margin: auto;
    margin-top: 1.5em;
    text-align: center;
    width: 180px;
  }
}

.scrollIndicator {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  color: $sky-night;
  font-size: 14px;
  margin-top: -40px;
  text-align: center;
}

@-webkit-keyframes bounce {
  0%,5%,15%,25%,35%,45%,55%,65%,75%,85%,95%,100% {transform: translateX(5px);}
  10%,20%,30%,40%,50%,60%,70%,80%,90% {transform: translateX(-5px);}
}

@keyframes bounce {
  0%,5%,15%,25%,35%,45%,55%,65%,75%,85%,95%,100% {transform: translateX(5px);}
  10%,20%,30%,40%,50%,60%,70%,80%,90% {transform: translateX(-5px);}
}
