.reviewsContainer {
  margin: 25px auto;
  overflow: auto;
  white-space: nowrap;
  width: 90%;
  &::-webkit-scrollbar {
    -webkit-appearance: none !important;
    height: 4px !important;
    -webkit-overflow-scrolling: auto !important;
    width: 3px !important;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $lime-dark !important;
  }
}

.review {
  display: inline-grid;
  margin: 25px;
  max-width: 315px;
  @include card-shadow;
  span {
    background: $green-light;
    clip-path: circle(50%);
    display: block;
    height: 50px;
    margin: 0 auto;
    margin-top: -25px;
    padding-top: 14px;
    text-align: center;
    width: 50px;
  }
  img {
    display: block;
    width: 100%;
  }
  p {
    color: $sky-night;
    margin: 10px auto;
    text-align: center;
    width: 250px;
    &:nth-of-type(2n) {
      color: $green-dark;
      font-size: 12px;
      margin-top: -5px;
    }
  }
  .ptext {
    white-space: normal;
  }
  .stars {
    margin: 0 auto;
    b {
      color: $green-light;
      display: inline-block;
      font-size: 20px;
      margin-bottom: 25px;
    }
  }
}
