.home {
  h1 {
    color: $sky-night;
    font-size: 30px;
    margin-top: 5em;
    text-align: center;
  }
  .buttons {
    height: 50px;
    text-align: center;
    &:first-of-type {
      margin-top: 40px;
    }
  }
}
