.stats {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  max-width: 700px;
  text-align: center;
  @include bp-sm {
    grid-template-columns: 1fr 1fr;
  }
  h2 {
    color: $sky-night;
    font-size: 20px;
    margin: 7px auto;
    margin-top: 10px;
  }
  div {
    margin: 15px auto;
  }
}

.webStats {
  margin: 2em auto;
  text-align: center;
  h2 {
    color: $sky-night;
    font-size: 20px;
  }
  a {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
  }
}
