.map {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

.h2 {
  color: $sky-night;
  font-size: 20px;
  margin-top: 25px;
  text-align: center;
  @include bp-xs {
    margin-bottom: -75px;
  }
}
