.button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
  padding: 7px 15px;
}

.primaryButton {
  background: $green-light;
  color: $sky-night;

  &:hover {
    background: $green-dark;
  }
}

.shopButton {
  background: $lime-light;
  color: $sky-night;
  display: block;

  &:hover {
    background: $green-light;
  }
}