.productGrid {
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
}

.triGrid {
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  row-gap: 25px;
  @include bp-xs {
    grid-template-columns: auto auto;
  }
  @include bp-md {
    grid-template-columns: auto auto auto;
  }
}

.duoGrid {
  column-gap: 5px;
  display: grid;
  grid-template-columns: auto;
  @include bp-xs {
    grid-template-columns: auto auto;
  }

  img {
    width: 325px;
    @include bp-xs {
      width: 375px;
    }
    @include bp-sm {
      width: 400px;
    }
  }
}

.scrollGrid {
  height: 400px;
  margin-bottom: 15px;
  overflow: auto;
  white-space: nowrap;
  width: 90%;
  &::-webkit-scrollbar {
    -webkit-appearance: none !important;
    height: 4px !important;
    -webkit-overflow-scrolling: auto !important;
    width: 3px !important;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $lime-dark !important;
  }

  .scrollDiv {
    display: inline-block;
  }
}

.name {
  color: $sky-night;
  font-size: 18px;
}

.view {
  background: $green-light;
  border-radius: 17px;
  display: none;
  font-size: 15px;
  margin: auto;
  padding: 3px 13px;
}
