.swatches {
  text-align: center;
}

.swatch {
  cursor: pointer;
  display: inline-block;
  img {
    border: 1px solid $sky-night;
    border-radius: 7px;
    height: 50px;
    width: 50px;
    @include card-shadow;
    @include bp-xs {
      height: 75px;
      width: 75px;
    }
  }
}

.name {
  color: $sky-night;
  font-size: 14px;
  @include bp-xs {
    font-size: 16px;
  }
}

.price {
  color: grey;
  font-size: 14px;
}
