.mainNav {
  background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(0,28,120,1) 100%);
  grid-template-areas: 'left right';
  padding: 20px;
  position: relative;
  width: 100%;
  @include bp-xs {
    display: grid;
  }
}

.homeLink {
  display: grid;
  grid-area: left;
  grid-template-areas: 'col1 col2';
  grid-template-columns: min-content 1fr;
  width: 75%;
  @include bp-xs {
    width: inherit;
  }

  .logo {
    fill: $sky-dark;
    grid-area: col1;
    height: 55px;
  }

  span {
    color: $sky-dark;
    font-size: 18px;
    font-weight: bold;
    grid-area: col2;
    padding-left: 5px;
    padding-top: 5px;
    &:last-of-type {
      font-weight: inherit;
      padding-top: 25px;
    }
  }
}

.navMenu {
  background: inherit;
  column-gap: 20px;
  display: grid;
  grid-area: right;
  grid-template-columns: auto;
  justify-self: end;
  left: 0px;
  position: absolute;
  top: 95px;
  z-index: 3;
  @include bp-xs {
    background: transparent;
    grid-template-columns: auto auto auto auto auto;
    left: inherit;
    padding-top: 20px;
    position: inherit;
    top: inherit;
    z-index: inherit;
  }

  .linkItems {
    color: $sky-dark;
    display: none;
    font-size: 18px;
    left: 0;
    padding-bottom: 24px;
    padding-left: 25px;
    padding-top: 5px;
    width: 100vw;
    z-index: 1;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        top: #{($i) * 50}px;
        @include bp-xs {
          top: 0;
        }
      }
    }
    @include bp-xs {
      display: block;
      margin-top: 0px;
      margin-top: -5px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-top: 0px;
      width: inherit;
      z-index: inherit;
    }
    &:hover {
      color: $sky-light;
    }
  }

  .dropDown {
    padding-top: 10px;
    @include bp-xs {
      padding-top: 0px;
      position: relative;
      &:hover {
        .linkItems {
          color: #06C2FC;
        }
      }
    }
  }

  .dropDownContent {
    display: block;
    margin-top: -20px;
    @include bp-xs {
      background: linear-gradient(117deg, black 0%, #001c78 100%);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin-top: inherit;
      min-width: 160px;
      position: absolute;
      top: 30px;
      z-index: 1;
    }
    &:after {
      @include bp-xs {
        border-bottom: 15px solid #000;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        clear: both;
        content: '';
        height: 0;
        position: absolute;
        top: -15px;
        width: 0;
      }
    }

    a {
      color: $sky-dark;
      display: block;
      padding: 10px 55px;
      text-align: left;
      text-decoration: none;
      &:hover {
        color: $sky-light;
      }
      @include bp-xs {
        color: $sky-light;
        padding: 14px 18px;
        &:hover {
          background: #0383a0;
          color: inherit;
        }
      }
    }
  }
}

.buildLink {
  color: $lime-light;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: 37px;
  &:hover {
    color: $sky-light;
  }
  @include bp-xxs {
    font-size: 20px;
  }
  @include bp-xs {
    font-size: 24px;
    top: 30px;
  }
}

// MOBILENAV SPECIFIC \\

.hamburger {
  border: 4px solid $sky-dark;
  border-width: 4px 0;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 25px;
  top: 35px;
  width: 30px;

  @include bp-xs {
    display: none;
  }

  &:before {
    background: $sky-dark;
    content: '';
    display: block;
    height: 4px;
    margin-top: 4px;
    width: 30px;
  }
}

.clickedHam {
  border-top-color: transparent;
  transform: rotate(45deg) translate(-2px, -1px);
  transition: transform 500ms ease-in-out;

  &:before {
    transform: translateY(8px) rotate(-90deg);
    transition: transform 500ms ease-in-out;
  }
}

.mobileShowLinks {
  display: block !important;
}
