.modal {
  background: rgba(0,0,0,0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.formContainer {
  margin: auto;
  max-width: 800px;
  position: relative;
  top: 15%;
  @include bp-xxs {
    top: 25%;
  }
  @include bp-xs {
    top: 30%;
  }
  @include bp-md {
    top: 40%;
  }
}

.form {
  background: linear-gradient(157deg, $orange-light 0%, $lime-light 100%);
  border-radius: 10px;  
  margin: auto;
  position: relative;
  width: 325px;
  @include bp-xxs {
    width: 550px;
  }
  label {
    display: block;
    font-size: 18px;
    margin: auto;
    margin-bottom: -10px;
    text-decoration: underline;
    width: 80%;
  }
  input {
    background: inherit;
    border-bottom: 2px solid black;
    border-width: 0 0 3px;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
    outline: 0;
    padding-top: 10px;
    width: 80%;
    @include bp-xs {
      padding-top: 20px;
    }
  }
}

.formTitle {
  font-size: 26px;
  padding-top: 30px;
  text-align: center;
}

.button {
  background: black;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 0px 0px $green-dark;
  color: $lime-light;
  margin-top: 35px;
  padding: 10px;
  text-align: center;
  transition: box-shadow linear 1s;
  &:active {
    box-shadow: 0px 0px 50px 15px $green-dark;
  }
}

.success {
  color: rgb(219, 255, 90);
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 1px 5px greenyellow;
}

.error {
  color: rgb(219, 255, 90);
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 1px 5px red;
}

.close {
  background: black;
  color: #dbff5a;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 15px;
  width: 30px;
}
