.orders {
  border: 1px solid #00000033;
  border-radius: 10px;
  border-spacing: 0;
  margin: 15px auto;
  margin-top: 150px;
  max-width: 1200px;
  padding-bottom: 20px;
  position: relative;
  span {
    color: #e91e63;
    cursor: pointer;
    font-size: 30px;
    left: 20px;
    position: absolute;
    top: 10px;
  }
  h1 {
    background: linear-gradient(117deg, #49f999 0%, #0383a0 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    margin-bottom: 25px;
    padding: 15px 0;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    text-align: center;
    &:nth-child(2) {
      display: inline-block;
      text-align: end;
      width: 50%;
    }
  }
  h3 {
    font-size: 14px;
    padding-left: 15px;
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
  h4 {
    margin: 0px 20px;
    margin-bottom: 5px;
  }
  b {
    font-size: 16px;
    font-weight: bold;
  }
  i {
    font-size: 12px;
  }
  input[type=search] {
    border: 1px solid #0f8e9f;
    border-radius: 4px;
    margin-left: 20px;
    padding: 5px 25px;
  }
}

.table {
  border-collapse: collapse;
  margin: 25px auto;
  max-width: 1150px;
  padding: 15px;
  text-align: center;
  width: 90%;
  thead {
    background: linear-gradient(117deg, $orange-light 0%, $lime-light 100%);
  }
  th {
    font-weight: bold;
    padding: 5px 0px;
    padding: 10px;
    width: 3.57%;
  }
  tbody {
    tr:nth-child(2n) { 
      background: #0000000d;
    }
  }
  td {
    height: 50px;
    padding: 8px;
    &:first-letter {
      text-transform:capitalize;
    }
  }
  img {
    display: block;
    height: 75px;
    margin: auto;
  }
}

.status {
  background: $green-light;
  background-image:url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20class%3D%22svg-triangle%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%234f4f4f%22%20points%3D%220%2C0%2020%2C0%2010%2C20%22/%3E%0A%3C/svg%3E');
  background-position: 160px 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #2b2b2b;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  display: inline-block;
  height: 40px;
  margin: 20px;
  position: relative;
  width: 200px;
  .statusValue {
    box-sizing: border-box;
    color: #4f4f4f;
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
  }
  select {
    border: 1px solid #4f4f4f;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 40px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 200px;
  }
}

.addNoteButton {
  margin: 15px;
  margin-right: 0;
  text-align: center;
  width: 150px;
}

.addImageButton {
  margin: 5px auto;
  text-align: center;
  width: 150px;
}
