.modal {
  background: rgba(0,0,0,0.4);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.formContainer {
  margin: auto;
  max-width: 800px;
  position: relative;
  top: 17%;
  z-index: 2;
  @include bp-md {
    top: 23%;
  }
}

.logoContainer {
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
  position: relative;

  .logo {
    width: 35px;
  }

  .logoTitle {
    color: black;
    font-weight: bold;
    left: 40px;
    position: absolute;
    top: 0px;
    &:last-of-type {
      font-weight: inherit;
      top: 15px;
    }
  }
}

.form {
  background: linear-gradient(157deg, $orange-light 0%, $lime-light 100%);
  border-radius: 10px;
  border-spacing: 0;  
  margin: auto;
  position: relative;
  width: 325px;
  @include bp-xs {
    width: 550px;
  }
  input {
    background: inherit;
    border-bottom: 2px solid black;
    border-width: 0 0 3px;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
    outline: 0;
    padding-top: 10px;
    width: 80%;
    @include bp-xs {
      padding-top: 20px;
    }
  }
}

.formTitle {
  font-size: 26px;
  text-align: center;
}

#sendEmail {
  -webkit-appearance: none;
  background: $green-light !important;
  border: none;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black !important;
  cursor: pointer;
  font-weight: bold;
  margin: 10px auto;
  margin-top: 25px;
  padding: 10px;
  width: 100%;
  z-index: 2;
  &:hover {
    background: $green-dark !important;
    & ~ .price {
      background: $green-dark !important;
    }
  }
}

.messageLabel {
  margin: 35px 20px 10px;
  @include bp-md {
    margin: 35px 45px 10px;
  }
}

.messageArea {
  background: inherit;
  border-bottom: 2px solid black;
  border-width: 0 0 3px;
  display: block;
  font-size: 1rem;
  height: 50px;
  margin: auto;
  outline: 0;
  width: 275px;
  @include bp-xs {
    width: 460px;
  }
}

.success {
  color: rgb(219, 255, 90);
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 1px 5px greenyellow;
}

.error {
  color: rgb(219, 255, 90);
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 1px 5px red;
}

.close {
  background: #4AF999;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-size: 24px;
  height: 35px;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -10px;
  width: 35px;
}
