.footer {
  background: linear-gradient(117deg, #49f999 0%, #0383a0 100%);
  bottom: 0;
  column-gap: 10px;
  display: grid;
  grid-template-areas: 'one' 'two' 'three' 'four';
  grid-template-columns: auto;
  margin-top: 75px;
  padding-top: 25px;
  position: absolute;
  width: 100%;
  @include bp-sm {
    grid-template-areas: 
      'one two three four';
    grid-template-columns: 300px 100px 200px 50px;
  }
  @include bp-md {
    grid-template-columns: 400px 200px 300px 100px;
  }
}

.contentSection, .siteLinks, .siteLinks2, .siteLinks3 {
  margin-bottom: 50px;
  max-width: 300px;
}

.contentSection {
  grid-area: one;
  justify-self: center;
  text-align: center;
  @include bp-sm {
    text-align: unset;
  }
  .homeLink {
    column-gap: 10px;
    cursor: pointer;
    display: grid;
    grid-template-areas: 'col1 col2';
    grid-template-columns: min-content min-content;
    justify-content: center;
    padding: 10px 0;
    @include bp-sm {
      justify-content: unset;
    }
    .logo {
      fill: cerulean;
      grid-area: col1;
      height: 55px;
    } 
    span {
      font-size: 18px;
      font-weight: bold;
      grid-area: col2;
      &:last-of-type {
        font-weight: inherit;
        padding-top: 20px;
      }
    }
  }
}

.siteLinks, .siteLinks2, .siteLinks3 {
  grid-area: two;
  justify-self: center;
  text-align: center;
  @include bp-sm {
    text-align: inherit;
  }
  
  h4 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  a, div {
    display: block;
    padding: 2px 0;
  }
}

.siteLinks2 {
  grid-area: three;
}

.siteLinks3 {
  grid-area: four;
}

.socialIcons {
  margin: 0 auto;
  width: 250px;
  .icons {
    fill: cerulean;
    height: 25px;
    padding: 0 5px;
    width: 25px;
  }
}