@font-face {
  font-display: swap;
  font-family: peacock;
  src: url('@assets/fonts/Exo2-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: peacock;
  font-weight: bold;
  src: url('@assets/fonts/Exo2-Bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: peacock;
  font-style: italic;
  src: url('@assets/fonts/Exo2-Italic.ttf') format('truetype');
}