.modal {
  background: rgba(0,0,0,0.4);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.sizeChartModal {
  background: linear-gradient(157deg, $orange-light 0%, $lime-light 100%);
  height: 100vh;
  margin: auto;
  max-width: 750px;
  position: relative;
  width: 100%;
  z-index: 2;
  @include bp-xs {
    border-radius: 10px;
    height: unset;
    margin-top: 150px;
    width: 80%;
  }
  @include bp-sm {
    margin-top: 150px;
    width: 60%;
  }
}

.sizeChart {
  img {
    display: block;
    height: 250px;
    margin: auto;
    @include bp-xs {
      height: 275px;
    }
    @include bp-sm {
      height: 350px;
    }
  }
  p {
    color: $sky-night;
    text-align: center;
    &:first-of-type {
      padding-top: 5px;
    }
  }
  b {
    color: $sky-night;
    font-weight: bold;
  }
}

.tableContainer {
  margin: 0px 15px;
  overflow-x: auto;
  @include bp-xxs {
    margin: unset;
  }
}

.table {
  border: 1px solid $sky-night;
  border-spacing: 0;
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
  @include bp-xxs {
    border: unset;
  }
  th {
    color: $sky-night;
    font-weight: bold;
    padding: 3px 8px;
  }
  td {
    color: $sky-night;
  }
  td:first-of-type {
    font-weight: bold;
    min-width: 95px;
    padding: 3px;
  }
}

.close {
  background: #4AF999;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-size: 24px;
  height: 35px;
  position: absolute;
  text-align: center;
  width: 35px;
  @include bp-xs {
    right: -5px;
    top: -10px;
  }
}