@mixin bp-xxs {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

@mixin bp-xs {
  @media only screen and (min-width: 576px) {
    @content;
  }
}

@mixin bp-sm {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin bp-md {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin bp-lg {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bp-xlg {
  @media only screen and (min-width: 1500px) {
    @content;
  }
}
