////////// GREENISH //////////
$green-light: #4AF999;
$green-dark: #32A563;

////////// Lime //////////
$lime-light: #DBFF5A;
$lime-dark: #A3BA45;

////////// Orange //////////
$orange-light: #FFB758;
$orange-dark: #AF7A3A;

////////// Sky //////////
$sky-light: #06C2FC;
$sky-dark: #0783A0;
$sky-night: #03015C;
$sky-night-shadow: #03015C21;

