////////// BOX-SHADOWS //////////
@mixin card-shadow {
  box-shadow: 0px 0px 5px 1px $sky-night-shadow;
}

////////// H1 //////////

@mixin h1 {
  color: $sky-night;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px $green-light;
}