html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input {
  background: 0;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-family: peacock, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0;
  max-width: 100%;
  min-width: 325px;
  overflow-x: hidden;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 500s ease-in-out 0s;
}

::-moz-placeholder {
  color:#424242 !important;
  opacity: 1;
}
::-ms-input-placeholder {
  color:#424242 !important;
}
:-ms-input-placeholder {
  color:#424242 !important;
}
::placeholder {
  color:#424242 !important;
}