.cart {
  background: linear-gradient(157deg, $orange-light 0%, $lime-light 100%);
  height: 100vh;
  margin: auto;
  max-width: 750px;
  padding: 15px;
  position: relative;
  width: 100%;
  z-index: 2;
  @include bp-xs {
    border-radius: 10px;
    height: unset;
    margin-top: 150px;
    width: 80%;
  }
  @include bp-sm {
    margin-top: 150px;
    width: 60%;
  }
  h2 {
    font-size: 20px;
  }
}

.item {
  border: 1px solid $sky-night;
  border-radius: 7px;
  grid-template-areas: 'left right';
  margin: auto;
  margin-top: 10px;
  padding: 15px 0;
  text-align: center;
  @include card-shadow;
  @include bp-xxs {
    display: grid;
    max-width: 750px;
  }
  .itemSwatch {
    grid-area: left;
    margin: auto;
    max-width: 200px;
    img {
      height: 200px;
      width: 200px;
    }
  }
  .itemDetails {
    align-self: center;
    grid-area: right;
    margin: auto;
    @include bp-xs {
      border-left: 0.75px solid $sky-night;
      padding: 0 50px;
    }
  }
  p {
    color: $sky-night;
    margin: 2px;
    &:first-letter {
      text-transform: capitalize;
    }
  }
  b {
    color: $sky-night;
    font-size: 18px;
    font-weight: bold;
  }
}

.changeQuantity {
  cursor: pointer;
  margin: 2px 10px;
  div {
    border: 1px solid $sky-night;
    color: $sky-night;
    display: inline-block;
    font-size: 14px;
    padding: 1px 5px;
    &:last-of-type {
      font-weight: bold;
      margin-top: -2px;
    }
    &:hover {
      background: $sky-night;
      color: white;
    }
  }
  span {
    color: $sky-night;
    display: inline-block;
    text-align: center;
    width: 25px;
  }
}
