.button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
  padding: 7px 15px;
}

.primaryButton {
  background: $green-light;
  color: $sky-night;

  &:hover {
    background: $green-dark;
  }
}

.groupCTA {
  background: $orange-light;
  color: $sky-night;

  &:hover {
    background: $orange-dark;
  }
}