

.returns {
  margin: auto;
  max-width: 450px;
  padding: 0 15px;

  h1 {
    @include h1;
    // color: $sky-night;
    // font-size: 28px;
    // font-weight: bold;
    margin-top: 40px;
    // text-align: center;
    // text-shadow: 2px 2px $green-light;
  }
  
  p {
    margin-top: 1em;
  }
  
  ul {
    margin-top: 1em;
    padding-left: 20px;
  }

}