.spinner {
  height: 40px;
  margin: auto;
  position: relative;
  width: 40px;
}

.bounce1, .bounce2 {
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
  background-color: #333;
  border-radius: 50%;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0); 
    transform: scale(0.0);
  } 50% {
    -webkit-transform: scale(1.0); 
    transform: scale(1.0);
  }
}