.cartButton {
  background: $lime-light;
  border: solid 1px $sky-night;
  border-radius: 10%;
  bottom: 0;
  cursor: pointer;
  fill: $sky-night;
  height: 30px;
  left: inherit;
  padding: 10px;
  position: fixed;
  right: 0;
  transition: background-color 0.2s linear;
  width: 30px;
  z-index: 1;
}

.memos {
  background: $orange-light;
  &:first-letter {
    text-transform: capitalize;
  }
  span {
    background: $sky-night;
    clip-path: circle(12px at center);
    color: $lime-light;
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 5px;
    width: 24px;
  }
}

@for $i from 1 through 5 {
  .memo:nth-child(#{$i}) {
    -webkit-animation: fade 5s infinite;
    animation: fade 5s infinite;
    -webkit-animation-delay: #{($i) * 2.5}s;
    animation-delay: #{($i) * 2.5}s;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 100%;
  }
}

.memo:nth-child(1) {
  opacity: 1;
  padding: 7px 0;
  position: unset;
}

@keyframes fade {
  5% { opacity:1; }
  50% { opacity:1; }
  55% { opacity:0; }
  100% { opacity:0; }
}

.groupMemo {
  padding: 7px 0;
  text-align: center;
  &:first-letter {
    text-transform: capitalize;
  }
}
