.product {
  cursor: pointer;
  margin: auto;
  max-width: 350px;
  position: relative;
  @include bp-sm {
    &:hover {
      & + p {
        display: none;
      }
      & ~ button {
        display: block;
      }
    }
  }
  .blankShirt {
    display: block;
    margin: auto;
    width: 100%;
  }
  .clippedSleeves {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .sleeveShade {
    display: block;
    margin: auto;
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .clippedPocket {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .pocketShade {
    display: block;
    margin: auto;
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.productDesigner {
  margin: auto;
  max-width: 480px;
  position: relative;

  .blankShirt {
    display: block;
    margin: auto;
    width: 100%;
  }
  .clippedSleeves {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .sleeveShade {
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .clippedPocket {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .pocketShade {
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 100%;
  }
}