#root {
  padding-bottom: 0;
}

.landingHeader {
  position: relative;
  @include bp-xs {
    background: #efefef;
    border-bottom: 1px solid #999999;
  }
  @include bp-md {
    float: left;
    height: 85vh;
    width: 50%;
  }
}

.buildingHeader {
  @include bp-xs {
    div[class^="productDesigner"] {
      border-bottom: 1px solid #999999;
    }
  }
  @include bp-md {
    background: #efefef;
    float: left;
    height: 85vh;
    padding-top: 15vh;
    width: 50%;
    div[class^="productDesigner"] {
      border-bottom: unset;
    }
  }
  h3 {
    color: $sky-night;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    @include bp-sm {
      font-size: 24px;
    }
    @include bp-md {
      padding-top: unset;
    }
  }
}

.headerImg {
  background-position-x: center;
  background-size: cover;
  height: 60vh;
  @include bp-md {
    height: 85vh;
  }
}

.headerText {
  max-width: 450px;
  padding: 10px;
  position: absolute;
  text-shadow: 2px 2px $green-dark;
  top: 0;
  h3 {
    color: $lime-light;
    font-size: 20px;
    @include bp-md {
      font-size: 24px;
    }
  }
  h1 {
    color: $lime-light;
    font-size: 34px;
    margin-bottom: 15px;
    @include bp-md {
      font-size: 42px;
    }
  }
}

.building {
  margin: auto;
  text-align: center;
  @include bp-xs {
    max-width: 400px;
    width: 90%;
  }
  @include bp-md {
    float: left;
    height: 75vh;
    max-width: unset;
    overflow-y: scroll;
    width: 50%;
  }
}

.shirtSection {
  position: relative;
  h2 {
    background: rgba(153, 153, 153, 0.2);
    border-bottom: 1px solid $sky-night;
    border-top: 1px solid $sky-night;
    color: $sky-night;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    text-align: initial;
    @include bp-xs {
      background: inherit;
      border: inherit;
      padding-left: inherit;
      padding-top: 25px;
      text-align: inherit;
    }
  }
}

.shirt {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  img {
    border: 1px solid $sky-night;
    border-radius: 7px;
    cursor: pointer;
    height: 125px;
    @include card-shadow;
    &:hover {
      background: $lime-dark;
    }
  }
  p {
    color: $sky-night;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .price {
    top: 50px;
  }
}

.checkSelect {
  color: $sky-night;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .checkmark {
    border: 1px solid;
    display: inline-block;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 10px;
    width: 20px;
    &:after {
      border: solid;
      border-width: 0 2px 2px 0;
      content: "";
      display: none;
      height: 8px;
      margin-left: 6px;
      margin-top: 3px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 4px;
    }
  }
  &:hover input ~ .checkmark {
    background: $lime-dark;
  }
  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
    &:checked ~ .checkmark {
      background: $lime-light;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
}

.patternSection {
  margin-bottom: -760px;
  @include bp-xs {
    margin-bottom: -700px;
  }
  @include bp-sm {
    margin-bottom: -166px;
  }
  h2 {
    background: rgba(153, 153, 153, 0.2);
    border-bottom: 1px solid $sky-night;
    border-top: 1px solid $sky-night;
    color: $sky-night;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    text-align: initial;
    @include bp-xs {
      background: inherit;
      border: inherit;
      padding-left: inherit;
      padding-top: 5px;
      text-align: inherit;
    }
  }
  h3 {
    color: $sky-night;
    font-size: 16px;
    margin-bottom: 2px;
    padding-left: 20px;
    text-align: center;
  }
  select {
    border: 1px solid #03015C;
    border-radius: 7px;
    color: #03015C;
    font-size: 16px;
    margin-left: 20px;
    padding: 3px;
    @include card-shadow;
    &:focus {
      outline: none;
    }
  }
  .patternContainer {
    margin: auto;
    max-height: 75vh;
    max-width: 400px;
    overflow-y: auto;
    @include bp-sm {
      max-height: 63vh;
    }
    &::-webkit-scrollbar {
      -webkit-appearance: none !important;
      height: 4px !important;
      -webkit-overflow-scrolling: auto !important;
      width: 3px !important;
    }
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1) !important;
    }
    &::-webkit-scrollbar-thumb {
      background: $lime-dark !important;
    }
  }
  p {
    bottom: 20px;
    color: $sky-night;
    font-size: 14px;
    left: 95px;
    padding-top: 3px;
  }
  .swatchContainer {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    &:last-of-type {
      border-bottom: inherit;
    }
  }
}

.sizeSection {
  margin-bottom: -1px;
  @include bp-sm {
    margin-bottom: 15px;
  }
  h2 {
    background: rgba(153, 153, 153, 0.2);
    border-bottom: 1px solid $sky-night;
    border-top: 1px solid $sky-night;
    color: $sky-night;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0;
    padding-left: 15px;
    position: relative;
    text-align: initial;
    @include bp-xs {
      background: inherit;
      border: inherit;
      padding-left: inherit;
      text-align: inherit;
    }
  }
  .sizeDiv {
    border: 1px solid $sky-night;
    border-radius: 7px;
    color: $sky-night;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 15px 0;
    width: 60px;
    @include card-shadow;
    &:hover {
      background: $lime-dark;
    }
  }
  .outOfStock {
    background: #e3e3e3;
    cursor: default;
    text-decoration: line-through;
    &:hover {
      background: #e3e3e3;
    }
  }
}

.tooltip {
  color: $sky-night;
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
}

.dotip {
  color: $sky-night;
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
}

.active {
  background: $lime-light !important;
}

.footer {
  background: linear-gradient(117deg, #49f999 0%, #0383a0 100%);
  bottom: 0;
  display: none;
  position: fixed;
  width: 100%;
  .footerContent {
    margin: 20px auto;
    max-width: 1250px;
    padding-left: 20px;
  }
  h4 {
    color: $sky-night;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p {
    color: $sky-night;
    font-size: 18px;
  }
  @include bp-xs {
    display: inherit;
  }
}

.button {
  background: $lime-light;
  bottom: 0;
  color: $sky-night;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
  &:hover {
    background: $lime-dark;
  }
  @include bp-xs {
    bottom: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    right: 5%;
    width: 250px;
  }
}

#swatchImgID {
  height: 110px;
  width: 110px;
}

#swatchesDivID {
  &:hover {
    #swatchImgID {
      box-shadow: 0px 0px 5px 5px $lime-dark;
    }
  }
}

#swatchesDivActiveID {
  #swatchImgID {
    box-shadow: 0px 0px 5px 5px $lime-light;
  }
}

.addedSuccess {
  background: #00000061;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;
}

.cartAddButton {
  background: $lime-light;
  border-radius: 17px;
  cursor: pointer;
  height: 40px;
  line-height: 37px;
  margin: 30px auto;
  text-align: center;
  width: 200px;
  &:hover {
    background: $green-light;
  }
}

.buildLink {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  background: $green-light;
  border-radius: 15px;
  bottom: 71px;
  color: $sky-night;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  line-height: 25px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 110px;
  z-index: 1;
}

@-webkit-keyframes bounce {
  0%,5%,15%,25%,35%,45%,55%,65%,75%,85%,95%,100% {transform: translateY(5px);}
  10%,20%,30%,40%,50%,60%,70%,80%,90% {transform: translateY(-5px);}
}

@keyframes bounce {
  0%,5%,15%,25%,35%,45%,55%,65%,75%,85%,95%,100% {transform: translateY(5px);}
  10%,20%,30%,40%,50%,60%,70%,80%,90% {transform: translateY(-5px);}
}
