.faq {
  margin: auto;
  width: 90%;

  h1 {
    @include h1;
    margin-bottom: 50px;
    margin-top: 1em;
  }

  h2 {
    color: $sky-night;
    font-size: 18px;
    font-weight: bold;
    margin: 15px auto;
    margin-top: 30px;
  }
}

.question {
  border-bottom: 1px solid $sky-night;
  color: $sky-night;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 10px;
  i {
    margin: 0 10px;
  }
}

.answer {
  background: $lime-light;
  border-bottom: 1px solid $sky-night;
  border-left: 1px solid $sky-night;
  border-right: 1px solid $sky-night;
  padding: 10px 15px;
}

.arrow {
  border: solid $sky-night;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}