.productsPage {
  margin: auto;
  width: 90%;

  h1 {
    @include h1;
    margin-bottom: 50px;
    margin-top: 1em;
  }

  p {
    padding: 1px;
  }
}

.filterContainer {
  margin: auto;
  width: 305px;
  h2 {
    color: $sky-night;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    width: 95px;
  }
}

.filter {
  background-image:url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20class%3D%22svg-triangle%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%234f4f4f%22%20points%3D%220%2C0%2020%2C0%2010%2C20%22/%3E%0A%3C/svg%3E');
  background-position: 160px 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #2b2b2b;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  display: inline-block;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
  position: relative;
  width: 200px;

  .filterValue {
    box-sizing: border-box;
    color: #4f4f4f;
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
  }

  select {
    border: 1px solid #4f4f4f;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 40px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 200px;
  }
}